body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('img/bg.svg');
}
.btn-audio{
    position: fixed;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 10;
}
.btn-audio img {
    width: 50px; /* Atur ukuran sesuai kebutuhan */
    height: auto;
}
.container-navbar {
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    /* Keeps navbar and footer above the carousel */
}

.navbar {
    top: 0;
    /* Adjusts navbar to the top */
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    /* Maximum width */
}

.navbar-flower {
    width: 400px;
}

.container-custom {
    position: relative;
    /* Context for the absolute positioning */
    width: 100%;
    /* Full width */
    max-width: 600px;
    /* Max width */
    margin-left: auto;
    /* Center horizontally */
    margin-right: auto;
    /* Center horizontally */
    margin-top: 100px;
    /* Center horizontally */
    padding: 20px;
}
.carousel
{height: 750px;}

.carousel-item img {
    width: 100%;
    /* Full width */
    height: auto;
    /* Maintain aspect ratio */
}

.footer {
    position: absolute;
    margin-top: auto;
    width: 100%;
    z-index: 10;
}

.floral-design {
    width: 700px;
    height: auto;
}

.hiddenAudio {
    display: none;
    /* Menyembunyikan elemen audio */
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: relative; /* For absolute positioning of curtains */
    overflow: hidden;
}

.invitation-container {
    text-align: center;
    z-index: 2; /* Make sure content is above curtains */
}

.couple-image {
    margin: 20px 0;
}

.couple-image img {
    width: 200px; /* Adjust size as needed */
    border-radius: 50%;
}

.open-invitation {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    z-index: 2; /* Above curtains */
}

.open-invitation:hover {
    background-color: #ddd;
}

.curtain-left,
.curtain-right {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: url('img/bg.svg'); /* Curtain color */
    z-index: 1;
    transition: transform 1.5s ease; /* Smooth curtain animation */
}

.curtain-left {
    left: 0;
    transform: translateX(0); /* Start position */
}

.curtain-right {
    right: 0;
    transform: translateX(0); /* Start position */
}
.location-reseption{
    margin-top: 100px;
}
.btn-gmaps, .btn-gmaps:hover{
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    z-index: 2;
    text-decoration: none; 
}
.map-reseption{
    background-image: url('img/bg-polos.png');
    height: 600px;
    border-radius: 25px;
    width: auto;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Media query for smartphones */
@media (max-width: 500px) {
    .navbar-flower {
        max-width: 60%;
        /* Full width on small screens */
    }
    .location-reseption{
        margin-top: 80px;
    }
    .invitation-container img {
        width: 350px !important;
        text-align: center;
        z-index: 2; /* Make sure content is above curtains */
    }
    .container-custom {
        max-width: 100%;
    }
    .footer {
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        bottom: -80px;
        width: 100%;
        z-index: 10;
    }

    .floral-design {
        max-width: 70%;
        height: auto;
    }
}
@media (min-width: 540px) and (max-width: 840px) {
    .navbar-flower {
        max-width: 70%;
        /* Full width on small screens */
    }
    .location-reseption{
        margin-top: 100px;
    }
    .footer {
        position: absolute;
        margin-top: auto;
        width: 100%;
        bottom: -200px;
        z-index: 10;
    }

    .floral-design {
        max-width: 100%;
        height: auto;
    }
}